body{
  margin: 0 5vw;
}

.content-container{
  margin: 0 5vw;
}

.primary-content{
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin: 0 5vw 5vw 0;
}

.primary-content > p{
  margin: 0 0 0 2%;
  width: 33%;
}

.primary-content > img{
  height: 30vh;
  width: 65%;
}

.card-container{
  margin: 0 1vw 1vw 0;
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  justify-content: space-between;
}

.sm-card > img{
  height: calc(20vh * 0.8);
}

.sm-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 15vw;
}

.lg-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 20vw;

}

.lg-card > img{
  height: calc(40vh * 0.6);
}

@media only screen and (max-device-width: 750px) { 
    .primary-content{
      display: flex;
      flex-flow: row wrap;
      margin: 0 .5vw 5vw 0;
    }

    .primary-content > img{
      width: 100%;
    }

    .primary-content > p{
      margin: 0;
      width: 100%;
      justify-self: flex-start;
    }

    .card-container{
      margin: 0 .5vw 5vw 0;
    }

    .sm-card{
      width: 35vw;
    }

    .lg-card{
      width: 90vw;
    }
}